body {
  background-color: #0b132b;
  margin: 0;
  --color: #fff;
}

.sphere {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
}

.plane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  list-style: none;
  margin: auto;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  animation: rotateSphere 10s linear infinite;
}

.plane li {
  position: absolute;
  height: 50%;
  width: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: bottom;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.plane li:after {
  content: attr(data-char);
  position: absolute;
  font-size: 50px;
  color: var(--color);
  display: inline-block;
  top: 0;
  left: 0;
  transform: translateX(-50%) rotateX(90deg);
  border-radius: 50%;
}

.testLetter {
  font-size: 50px;
  display: inline-block;
}


@keyframes rotateSphere {
  0% {
    transform: rotateX(255deg) rotateY(-75deg) rotate3d(1, 1, 1, 45deg) rotate(0deg)
  }
  100% {
    transform: rotateX(255deg) rotateY(-75deg) rotate3d(1, 1, 1, 45deg) rotate(360deg)
  }
}


.block {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 50%;
}