body {
  background-color: #fff;
  margin: 0;
  font-family: sans-serif;
  --color: #363636;
  --font-size: 100px;
}

.sphere {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
}

.plane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  list-style: none;
  margin: auto;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.6s ease-in-out;
  /* animation: rotateSphere 10s linear infinite; */
}

.char-container {
  position: absolute;
  height: 50%;
  width: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: bottom;
  box-sizing: border-box;
  transform-style: preserve-3d;
  cursor: pointer;
}

.char {
  position: absolute;
  font-size: var(--font-size);
  color: var(--color);
  display: inline-block;
  top: 0;
  left: 0;
  transform: translateX(-50%) rotateX(90deg);
  transition: 0.3s color 0.3s;
}

.char-container--active {
  --color: #EF634D;
}

.testLetter {
  font-size: var(--font-size);
  padding: 0 3px;
  display: inline-block;
}


@keyframes rotateSphere {
  0% {
    transform: rotateX(255deg) rotateY(-75deg) rotate3d(1, 1, 1, 45deg) rotate(0deg)
  }
  100% {
    transform: rotateX(255deg) rotateY(-75deg) rotate3d(1, 1, 1, 45deg) rotate(360deg)
  }
}


.block {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  background-size: cover;
}